<div class="bgGray wrap w_list_public">
    <div class="layout w_innovation w_IP_buy">
        <div class="breadcrumb">
            <a ui-sref="assistsProject" href="">助力创业</a>
            <span class="breadcrumbActive">＞</span>
            <span class="breadcrumbActive">培训机构</span>
        </div>
        <div class="titleAndSearch">
            <p class="secondActive">培训机构</p>
            <div class="search">
                <input type="search" ng-model="vm.queryModel.q" placeholder="培训机构名称">
                <button ng-click="vm.query(vm.queryModel)">搜索</button>
            </div>
        </div>


            <div class="trainingDetail">
                <div class="item" ng-repeat="list in vm.pager.list">
                    <div class="lectureImg">
                        <img src="{{SY_UploadBasePath}}{{list.logo}}">
                    </div>
                    <div class="lectureIntro">
                        <p title="{{list.name}}">{{list.name | lengthFilter:16}}</p>
                        <p>
                           {{list.info | lengthFilter:110:'...'}}
                        </p>
                    </div>
                    <div class="look">
                        <button class="btn btn-primary" ui-sref="viewTrainingDetail({id:list.id})">查看详情</button>
                    </div>
                </div>

                <h4 class="text-danger" ng-if = "!vm.pager.list.length">抱歉！暂无数据！</h4>
                <div ng-if="vm.pager.list.length" class="widget-page">
                    <youe-page pageinfo="vm.pager" select-page="vm.selectPage" select-page-size="vm.selectPageSize"></youe-page>
                </div>
        </div>
        <!--<div class="w_noList" ng-if = 'vm.tipPop || !vm.pager.list.length > 0'>查询结果为空</div>-->
    </div>
</div>