<div class="wrap">
    <div class="layout">
        <div class="login">
            <div class="title">
                找回密码
            </div>
            <div class="content findPassword">
                <div class="forgetPasswordNavbar">
                    <img src="/assets/images/login/forgetPassword3.png">
                </div>
                <div class="detailContent">
                    <div class="repeatPassword sureAccount">
                        <h3>请输入新密码</h3>
                        <input type="password" ng-model="vm.password" placeholder="2-20个字符" class="account">
                        <br>
                        <input type="password" ng-model="vm.rePassword" placeholder="再次确认" class="account gap">
                    </div>
                    <div class="sure textCenter">
                        <button ng-click="vm.save()">完成</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
