<div class="bgGray wrap w_list_public">
    <div class="layout w_innovation w_IP_buy">
        <div class="breadcrumb">
            <a ui-sref="assistsInnovation" href="">助力创新</a>
            <span class="breadcrumbActive">＞</span>
            <span class="breadcrumbActive">知产评估</span>
        </div>
        <!--<div class="titleAndSearch">-->
            <!--<p class="secondActive">知产评估</p>-->
        <!--</div>-->
        <div class="knowledgeAccessContent">
            <div class="firstContent">
                <div class="picture">
                    <img src="/assets/images/assistsInnovation/pic4.jpg">
                </div>
                <div class="title">
                    <p>权威知识产权评估</p>
                    <p>
                        <button class="" data-toggle="modal" ng-click="vm.checkLogin()">申请评估</button>
                    </p>
                </div>
            </div>
            <div class="secondContent">
                <ul>
                    <li onclick="javascript:document.getElementById('detail').scrollIntoView()" ng-click="vm.showActive(1)" ng-class="{active:vm.activeClass==1}">详情</li>
                    <li onclick="javascript:document.getElementById('serviceStep').scrollIntoView()" ng-click="vm.showActive(2)" ng-class="{active:vm.activeClass==2}">服务流程</li>
                    <li onclick="javascript:document.getElementById('partners').scrollIntoView()" ng-click="vm.showActive(3)" ng-class="{active:vm.activeClass==3}">合作伙伴</li>
                </ul>
            </div>
            <div class="thirdContent">
                <div class="detail" id="detail">
                    <p>详情</p>
                    <div>
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                    </div>
                </div>
                <div class="detail" id="serviceStep">
                    <p>服务流程</p>
                    <div>
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍 详情介绍
                        详情介绍 详情介绍v
                    </div>
                </div>
                <div class="partners" id="partners">
                    <div class="parTitle">
                        合作伙伴
                    </div>
                    <div class="sliderContent">
                        <section class="enterpriseApp">
                            <!--<span class="prev">上一张</span>-->
                            <div class="prev jiantou">
                                <img src="/assets/images/assistsInnovation/pic8.png">
                            </div>
                            <div class="box">
                                <dl id="roll">
                                    <dd ng-repeat="item in vm.partners track by $index | limitTo:6">
                                        <a target="_blank" href="{{item.url}}">
                                        <img src="{{SY_UploadBasePath}}{{item.logoImg}}"/>
                                        <div class="mask">
                                            <p>{{item.name}}</p>
                                        </div>
                                        </a>
                                    </dd>
                                </dl>

                            </div>
                            <div class="next jiantou">
                                <img src="/assets/images/assistsInnovation/pic9.png">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--<div class="modal" id="applyAssess">-->
    <!--<form name='myForm'>-->
    <!--<div class="modal-dialog" role="document">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4>评估申请</h4>-->
                <!--<span data-dismiss="modal">x</span>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div class="intro">-->
                    <!--{{UserToken.getUserToken().response.userMine.name}}企业 您好， 请填写您想申请评估的知识产权信息-->
                <!--</div>-->
                <!--<div class="content">-->
                  <!--<div class="title">-->
                      <!--<ul>-->
                          <!--<li ng-click="vm.changeTable(1)">-->
                              <!--<input type="radio" name="apply" ng-model="vm.assess.type" ng-value=1 ng-checked="1"> <label>商标</label>-->
                          <!--</li>-->
                          <!--<li ng-click="vm.changeTable(2)">-->
                              <!--<input type="radio" name="apply" ng-model="vm.assess.type" ng-value=2> <label>专利</label>-->
                          <!--</li>-->
                          <!--<li ng-click="vm.changeTable(3)">-->
                              <!--<input type="radio" name="apply" ng-model="vm.assess.type" ng-value=3 > <label>其他知识产权评估</label>-->
                          <!--</li>-->
                      <!--</ul>-->
                  <!--</div>-->
                    <!--<div class="contentDetail">-->
                        <!--<div class="item" ng-if="vm.showTable == 1">-->
                            <!--<p>-->
                                <!--<span>商标ID：</span>-->
                                <!--<input name="brandId" ng-model="vm.assess.brandID" type="text" required>-->
                                <!--<span style="color: red" ng-if="myForm.brandId.$error.required && myForm.brandId.$touched">商标ID不能为空！</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>商标名称：</span>-->
                                <!--<input name="brandName" ng-model="vm.assess.brandName" type="text" required>-->
                                <!--<span style="color: red" ng-if="myForm.brandName.$error.required && myForm.brandName.$touched">商标名称不能为空！</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>商标类别：</span>-->
                                <!--<input name="brandType" ng-model="vm.assess.brandType" type="text" required>-->
                                <!--<span style="color: red" ng-if="myForm.brandType.$error.required && myForm.brandType.$touched">商标类别不能为空！</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>备注：</span>-->
                                <!--<textarea name="intro" ng-model="vm.assess.remark" required></textarea>-->
                                <!--<span style="color: red" ng-if="myForm.intro.$error.required && myForm.intro.$touched">备注不能为空！</span>-->
                            <!--</p>-->
                            <!--<div class="contact">-->
                                <!--<p>-->
                                    <!--<span>申请人：</span>-->
                                    <!--<input name="applyPerson1" ng-model="vm.assess.applyPerson" type="text" required>-->
                                    <!--<span style="color: red" ng-if="myForm.applyPerson1.$error.required && myForm.applyPerson1.$touched">申请人不能为空！</span>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<span>联系电话：</span>-->
                                    <!--<input name="tel1" ng-model="vm.assess.tel" type="text" style="width:485px;" ng-pattern="/(^1[34578]\d{9}$)$|(\d{3}-\d{8}|\d{4}-\d{7})/" required>-->
                                    <!--<span style="color: red" ng-if="myForm.tel1.$error.required && myForm.tel1.$touched">联系电话不能为空！</span>-->
                                    <!--<span style="color: red" ng-if="myForm.tel1.$error.pattern && myForm.tel1.$touched">电话格式不正确！</span>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="item" ng-if="vm.showTable == 2">-->
                            <!--<p>-->
                                <!--<span>专利号：</span>-->
                                <!--<input name="patentNum" ng-model="vm.assess.patentNum" type="text" required>-->
                                <!--<span style="color: red" ng-if="myForm.patentNum.$error.required && myForm.patentNum.$touched">专利号不能为空！</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>专利信息：</span>-->
                                <!--<input name="patentInfo" ng-model="vm.assess.patentInfo" type="text" required>-->
                                <!--<span style="color: red" ng-if="myForm.patentInfo.$error.required && myForm.patentInfo.$touched">专利信息不能为空！</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>备注：</span>-->
                                <!--<textarea name="patentIntro" ng-model="vm.assess.remark" required></textarea>-->
                                <!--<span style="color: red" ng-if="myForm.patentIntro.$error.required && myForm.patentIntro.$touched">备注不能为空！</span>-->
                            <!--</p>-->
                            <!--<div class="contact">-->
                                <!--<p>-->
                                    <!--<span>申请人：</span>-->
                                    <!--<input name="applyPerson2" ng-model="vm.assess.applyPerson" type="text" required>-->
                                    <!--<span style="color: red" ng-if="myForm.applyPerson2.$error.required && myForm.applyPerson2.$touched">申请人不能为空！</span>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<span>联系电话：</span>-->
                                    <!--<input name="tel2" ng-model="vm.assess.tel" type="text" style="width:485px;" ng-pattern="/(^1[34578]\d{9}$)$|(\d{3}-\d{8}|\d{4}-\d{7})/" required>-->
                                    <!--<span style="color: red" ng-if="myForm.tel2.$error.required && myForm.tel2.$touched">联系电话不能为空！</span>-->
                                    <!--<span style="color: red" ng-if="myForm.tel2.$error.pattern && myForm.tel2.$touched">电话格式不正确！</span>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="item" ng-if="vm.showTable == 3">-->
                            <!--<p>-->
                                <!--<span>评估项目：</span>-->
                                <!--<input name="assessName" ng-model="vm.assess.assessProject" type="text" required>-->
                                <!--<span style="color: red" ng-if="myForm.assessName.$error.required && myForm.assessName.$touched">评估项目不能为空！</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>项目信息：</span>-->
                                <!--<input name="projectInfo" ng-model="vm.assess.assessInfo" type="text" required>-->
                                <!--<span style="color: red" ng-if="myForm.projectInfo.$error.required && myForm.projectInfo.$touched">项目信息不能为空！</span>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>备注：</span>-->
                                <!--<textarea name="projectIntro" ng-model="vm.assess.remark" required></textarea>-->
                                <!--<span style="color: red" ng-if="myForm.projectIntro.$error.required && myForm.projectIntro.$touched">备注不能为空！</span>-->
                            <!--</p>-->
                            <!--<div class="contact">-->
                                <!--<p>-->
                                    <!--<span>申请人：</span>-->
                                    <!--<input name="applyPerson3" ng-model="vm.assess.applyPerson" type="text" required>-->
                                    <!--<span style="color: red" ng-if="myForm.applyPerson3.$error.required && myForm.applyPerson3.$touched">申请人不能为空！</span>-->
                                <!--</p>-->
                                <!--<p>-->
                                    <!--<span>联系电话：</span>-->
                                    <!--<input name="tel3" ng-model="vm.assess.tel" type="text" style="width:485px;" ng-pattern="/(^1[34578]\d{9}$)$|(\d{3}-\d{8}|\d{4}-\d{7})/" required>-->
                                    <!--<span style="color: red" ng-if="myForm.tel3.$error.required && myForm.tel3.$touched">联系电话不能为空！</span>-->
                                    <!--<span style="color: red" ng-if="myForm.tel3.$error.pattern && myForm.tel3.$touched">电话格式不正确！</span>-->
                                <!--</p>-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button class="" ng-click="vm.save()" ng-disabled="myForm.$invalid"  data-dismiss="modal">提交评估</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</form>-->
<!--</div>-->
<script src="../vendor/base/slider.js"></script>
<!--固定导航栏-->
<script>
    $(document).ready(function() {
        //如果屏幕宽度>767px,设置导航栏效果
//        alert(23);
        var sw=document.body.offsetWidth;
        var navOffset=$(".secondContent").offset().top;
        if(sw>767){
            $(window).scroll(function(){
                var scrollPos=$(window).scrollTop();
                if(scrollPos >=navOffset){
                    $(".secondContent").addClass("fixed");
                }else{
                    $(".secondContent").removeClass("fixed");
                }
            });
        }


    });
</script>