<style>
    .top_a_element {
        color: #f18d0d
    }

    .top_a_element:hover {
        color: #dd514c;
    }

    .input-width {
        width: 300px;
    }

    .new-pwd-error {
        color: #01d7d4;
        padding: 0px 70px;
        font-size: xx-small
    }

    .new-pwd-error-red {
        color: red;
        padding: 0px 70px;
        font-size: xx-small
    }
</style>
<div class="breadcrumb">
    <span>当前位置：</span>
    <a class="top_a_element" ui-sref="{{SY_CrumbsData.oneLevel.uiSref}}">{{SY_CrumbsData.oneLevel.name}}</a>
    <span>＞</span>
    <span >{{SY_CrumbsData.twoLevel.name}}</span>
</div>


<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="table-responsive">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <!--<p>账号信息：{{vm.myInfo.name}}</p>-->
                        <p>用户昵称：{{vm.myInfo.nickName}}</p>
                        <form name="updatePasswordForm">
                            <p>&emsp;原密码：
                                <input class="input-width" ng-change="vm.changeEvents()" type="password"
                                       placeholder='请输入当前密码'
                                       ng-model='vm.entity.password' required>
                                <span style="color: red">{{vm.oldPassword}}</span>
                            </p>
                            <p>&emsp;新密码：
                                <input class="input-width" ng-change="vm.changeEvents()" type="password"
                                       placeholder='请输入新密码'
                                       ng-model='vm.entity.newPwd'
                                       ng-pattern="/(?=.{8,})(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[0-9a-zA-Z!@#$%^&*]*/"
                                       name="newPwd" required>
                                <span style="color: red">{{vm.newPassword}}</span>
                            </p>
                            <p ng-class="updatePasswordForm.newPwd.$invalid?'new-pwd-error-red':'new-pwd-error'">
                                密码由大于8位英文字母、数字、特殊字符（!@#$%^&*）组合而成，区分大小写。</p>
                            <p>确认密码：
                                <input class="input-width" ng-change="vm.changeEvents()" type="password"
                                       placeholder='确认新密码'
                                       ng-model='vm.entity.confirmPassword' required>
                                <span style="color: red">{{vm.confirmPassword}}</span>
                            </p>

                            <span ng-if="vm.msg" style="color: red">{{vm.msg}}</span>

                            <button class="btn btn-lm btn-warn" type="button" ng-click="vm.reset()">重新输入</button>
                            <button class="btn btn-lm btn-warn" type="button" ng-click="vm.submit()"
                                    ng-disabled="updatePasswordForm.$invalid">提交
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>