spring:
      aop:
           proxy-target-class: true
      http:
          multipart:
            enabled: true
            max-file-size: 500Mb
            max-request-size: 500Mb
      datasource:
            url: jdbc:mysql://192.168.30.245:3306/sydb?useUnicode=true&characterEncoding=UTF-8
            jdbc-url: jdbc:mysql://192.168.30.245:3306/sydb?useUnicode=true&characterEncoding=UTF-8
            username: root
            password: 1qaz@WSX
            driver-class-name: com.mysql.jdbc.Driver
      data:
         mongodb:
           database: TYC
           port: 27017

           host: 192.168.17.131
           servicePort: 9001
#           type: com.zaxxer.hikari.HikariDataSource

#路由
zuul:
  routes:
    boot-rest:
      serviceId: sydbBack
      path: /boot/**
      url: http://syda.youedata.com/cdinf/sy/api

default:
  path: Y:/
  server: http://172.16.0.3:8081/
  fileAddress: ycbdgems
  #是否启动冗余文件删除
  delFile: false


#govaff-rest
cas:
  casIp: 192.168.30.94:80

login:
  frontIp: 192.168.30.94:9205
  backIp: 192.168.30.94:9203


hessian:
  hessianUrl: http\://192.168.30.94\:8080/AuthManage/AuthManageDao


#ueditor
ueditor:
  url: ckeditor/
  path: Y:\\
  ip: 172.16.0.3:8081//
  config: '{"snapscreenInsertAlign":"none","videoPathFormat":"/ueditor/jsp/upload/video/{yyyy}{mm}{dd}/{time}{rand:6}","videoFieldName":"upfile","fileManagerActionName":"listfile","fileUrlPrefix":"","imageUrlPrefix":"http://","imageAllowFiles":[".png",".jpg",".jpeg",".gif",".bmp"],"videoAllowFiles":[".flv",".swf",".mkv",".avi",".rm",".rmvb",".mpeg",".mpg",".ogg",".ogv",".mov",".wmv",".mp4",".webm",".mp3",".wav",".mid"],"filePathFormat":"/ueditor/jsp/upload/file/{yyyy}{mm}{dd}/{time}{rand:6}","fileMaxSize":51200000,"fileManagerListPath":"/ueditor/jsp/upload/file/","catcherUrlPrefix":"","videoActionName":"uploadvideo","scrawlInsertAlign":"none","videoUrlPrefix":"","imageManagerUrlPrefix":"","scrawlUrlPrefix":"","imageFieldName":"upfile","fileManagerAllowFiles":[".png",".jpg",".jpeg",".gif",".bmp",".flv",".swf",".mkv",".avi",".rm",".rmvb",".mpeg",".mpg",".ogg",".ogv",".mov",".wmv",".mp4",".webm",".mp3",".wav",".mid",".rar",".zip",".tar",".gz",".7z",".bz2",".cab",".iso",".doc",".docx",".xls",".xlsx",".ppt",".pptx",".pdf",".txt",".md",".xml"],"imageMaxSize":2048000,"catcherPathFormat":"/ueditor/jsp/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}","imageManagerInsertAlign":"none","scrawlFieldName":"upfile","imagePathFormat":"/ueditor/jsp/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}","scrawlActionName":"uploadscrawl","imageManagerActionName":"listimage","imageActionName":"uploadimage","imageManagerListSize":20,"imageManagerAllowFiles":[".png",".jpg",".jpeg",".gif",".bmp"],"fileAllowFiles":[".png",".jpg",".jpeg",".gif",".bmp",".flv",".swf",".mkv",".avi",".rm",".rmvb",".mpeg",".mpg",".ogg",".ogv",".mov",".wmv",".mp4",".webm",".mp3",".wav",".mid",".rar",".zip",".tar",".gz",".7z",".bz2",".cab",".iso",".doc",".docx",".xls",".xlsx",".ppt",".pptx",".pdf",".txt",".md",".xml"],"snapscreenActionName":"uploadimage","fileFieldName":"upfile","fileActionName":"uploadfile","catcherActionName":"uploadimage","fileManagerListSize":20,"catcherAllowFiles":[".png",".jpg",".jpeg",".gif",".bmp"],"snapscreenPathFormat":"/ueditor/jsp/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}","imageCompressBorder":1600,"snapscreenUrlPrefix":"","imageCompressEnable":true,"catcherLocalDomain":["127.0.0.1","localhost","img.baidu.com"],"imageManagerListPath":"/ueditor/jsp/upload/image/","imageInsertAlign":"none","catcherMaxSize":2048000,"videoMaxSize":102400000,"fileManagerUrlPrefix":"","scrawlPathFormat":"/ueditor/jsp/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}","scrawlMaxSize":2048000,"catcherFieldName":"source"}'

#企业运行分析大数据算分接口
ent:
  analyse:
    #url:  http://172.16.0.133:8080/v1/scoreIndex/entAnalyse
    #progressUrl: http://172.16.0.133:8080/v1/scoreIndex/entAnalyseStatus
    url:  http://172.16.0.246:8080/v1/scoreIndex/entAnalyse
    progressUrl:  http://172.16.0.246:8080/v1/scoreIndex/entAnalyseStatus
